# Ignore the dataset folder
# IMPORTANT: make sure that your dataset is stored in a
# folder with the same name as the one specified below!

student_data/*
sample_submission.csv
experiments/pretrained_models/chilloutmix
experiments/pretrained_models/stable-diffusion-v1-5*
experiments/pretrained_models/RealVisXL_V5.0*
experiments/SDXL/SDXL_cat2*
experiments/SDXL/SDXL_watercolor*
experiments/SDXL/SDXL_wearable_glasses*
experiments/SDXL/SDXL_watercolor*
experiments/SDXL/SDXL_dog*
experiments/SDXL/SDXL_flower*
experiments/SDXL/SDXL_pet_cat1*
SDXL.zip
test_output*
test_prompt0*
test_prompt1*
test_prompt2*
test_prompt3*
configs/inference/prompt3_style_sdxl*
configs/inference/sample_style_sdxl_config_submit_new*
outputs*
**_pycache__**
diff*
inference_config_check
finaltest
style_mix_output
