[submodule "Mix-of-Show"]
	path = Mix-of-Show
	url = https://github.com/TencentARC/Mix-of-Show.git
[submodule "StyleID"]
	path = StyleID
	url = https://github.com/chenlinchuang/StyleID
[submodule "LayoutGPT"]
	path = LayoutGPT
	url = https://github.com/weixi-feng/LayoutGPT.git
